services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - 9870:9870
      - 9000:9000
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
      - HDFS_CONF_dfs_permissions_enabled=false
      # THIS IS THE MISSING KEY:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    restart: always
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    environment:
      - SERVICE_PRECONDITION=namenode:9870
      - CLUSTER_NAME=test
      - HDFS_CONF_dfs_permissions_enabled=false
      # THIS MUST MATCH THE NAMENODE:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
  pyspark:
    image: jupyter/pyspark-notebook:spark-3.3.1
    ports:
      - "8888:8888"
    volumes:
      # We have the final_data.json file in hadoop 
      - ./:/home/jovyan/work

volumes:
  hadoop_namenode:
  hadoop_datanode:
